.total_stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  margin-block: 40px;
}

@media (max-width: 1450px) {
  .total_stats {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
  }
}
